@import 'variables';
@import 'components/modal';
@import 'components/login';
@import 'components/tygr-component';
@import '@tygr/header/sass';
@import '@tygr/logo/sass';

@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');

#app {
  width: 100%;
  display: flex;
  justify-content: center;
}

#app > .container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 45vw;
}

@media only screen and (max-width: 600px) {
  #app > .container {
    max-width: 90vw;
  }
}

h1 {
  font-family: Sansita Swashed, cursive;
  text-align: center;
}

p,
h3 {
  font-family: 'Piazzolla', serif;
}

.tygr-logo h3 {
  display: none;
}
